%p#notice= notice

%p
  %b Name:
  = @comment.name
%p
  %b Comment:
  = @comment.comment
%p
  %b Up:
  = @comment.up
%p
  %b Down:
  = @comment.down
%p
  %b Novel:
  = @comment.novel

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
