.comment-card.card.my-2.mx-0.border-0
  .p-2
  - up_down_rate = ((comment.up.to_f) / (comment.up.to_f + comment.down.to_f)) * 100
  - if    75 <= up_down_rate
    .px-3.pt-1.pb-4.comment.comment-level-5
      #{comment.comment}
  - elsif 60 <= up_down_rate  && up_down_rate < 75
    .px-3.pt-1.pb-4.comment.comment-level-4
      #{comment.comment}
  - elsif 25 <= up_down_rate  && up_down_rate < 60
    .px-3.pt-1.pb-4.comment.comment-level-3
      #{comment.comment}
  - elsif 10 <= up_down_rate  && up_down_rate < 25
    .px-3.pt-1.pb-4.comment.comment-level-2
      #{comment.comment}
  - elsif up_down_rate < 10
    .px-3.pt-1.pb-4.comment.comment-level-2
      #{comment.comment}
  - else
    .px-3.pt-1.pb-4.comment.comment-level-3
      #{comment.comment}
  .container.mb-0.mt-3.pr-1
    .row.mx-auto.d-flex.justify-content-end.comment-bottom-content
      %p.up-contents.mb-0
        %a.comment-rating-button.comment-rating-button-up.d-inline-flex.justify-content-center.font-weight-bold{} +
        %br
        %span{class: "comment-count comment-count-up mb-0"}
          - if comment.up != nil
            #{comment.up}
          - else
            0
      -# 0で割れないので、分母が0の時で場合分け
      - if (comment.up.to_f + comment.down.to_f) != 0
        .comment-rating-bar.justify-content-center.m-2.mt-3
          -# up, downの比率で青いバーの長さを決定する
          .comment-rating-bar-up{style: "width: #{( (comment.up.to_f) / (comment.up.to_f + comment.down.to_f) ) * 100}%;"}
      - else
        .comment-rating-bar.justify-content-center.m-2
          -# up, downがどちらも0の時は50%にする
          .comment-rating-bar-up{style: "width: 50%;"}
      %p.down-contents.mb-0
        %a.comment-rating-button.comment-rating-button-down.d-inline-flex.justify-content-center.font-weight-bold{} -
        %br
        %span{class: "comment-count comment-count-down mb-0"}
          - if comment.down != nil
            #{comment.down}
          - else
            0
      .comment-id{style: "display:none"}
        #{comment.id}
