.card.my-2.mx-0.border-0
  .text-muted.small.p-2
    name: #{comment.name}
  .font-weight-bold.p-2
    #{comment.comment}
  .container.mb-0.mt-3
    .row.mx-auto.d-flex.justify-content-center
      %p.mb-1.up-contents
        %a.comment-rating-button.comment-rating-button-up.d-inline-flex.justify-content-center.font-weight-bold{} +
        %br
        %span{class: "comment-count comment-count-up"}
          - if comment.up != nil
            #{comment.up}
          - else
            0
      -# 0で割れないので、分母が0の時で場合分け
      - if (comment.up.to_f + comment.down.to_f) != 0
        .comment-rating-bar.justify-content-center.m-2
          -# up, downの比率で青いバーの長さを決定する
          .comment-rating-bar-up{style: "width: #{( (comment.up.to_f) / (comment.up.to_f + comment.down.to_f) ) * 100}%;"}
      - else
        .comment-rating-bar.justify-content-center.m-2
          -# up, downがどちらも0の時は50%にする
          .comment-rating-bar-up{style: "width: 50%;"}
      %p.mb-1.down-contents
        %a.comment-rating-button.comment-rating-button-down.d-inline-flex.justify-content-center.font-weight-bold{} -
        %br
        %span{class: "comment-count comment-count-down"}
          - if comment.down != nil
            #{comment.down}
          - else
            0
      .comment-id{style: "display:none"}
        #{comment.id}
