.container.p-0
  -# = render partial: "layouts/other-osusumes", locals: { osusumes: @osusumes }
  = render partial: "layouts/popular-osusumes", locals: { osusumes: @osusumes }
  .novel-title.card.my-2.border-0.sticky-top
    -# .card-title
    %h1.font-weight-bold.text-info.mb-0
      #{@novel.title}
    = link_to @novel.url, target: "_blank", class: "novel-page-link novel-page-link-in-title display" do
      .btn.btn-primary.mx-auto.my-1.d-block.w-50{style: "border-radius: 100px !important;"}
        .fa.fa-book.mr-1
        小説を読む →
  .card.text-muted.mt-1.mb-0.px-2.pt-2.pb-0.border-0
    .novel-description
      = simple_format(@novel.description)
    .description-toggle.fa.fa-angle-down.mx-auto.my-1
    = link_to @novel.url, target: "_blank", class: "novel-page-link" do
      .btn.btn-primary.mx-auto.mb-2.w-75.d-block{style: "border-radius: 100px !important;"}
        .fa.fa-book.mr-1
        小説を読む →
    = link_to new_novel_review_path(@novel), target: "_blank", class: "novel-page-link" do
      .jump-to-novel-show-btn.btn.mx-auto.mb-3.w-75.d-block{style: "border-radius: 100px !important; width: 45%;"}
        .fa.fa-pencil.mr-1
        レビューする →
  %hr
  - if @novel.reviews.present?
    【レビュー】
    - @novel.reviews.each do |review|
      = render partial: "layouts/review-card", locals: { review: review}

  #comment-cards
    - @comments.each do |comment|
      = render partial: "comment-card", locals: { comment: comment}

  -# = link_to new_review_path, target: "_blank", class: "new-review-link-btn btn btn-primary" do
  -#   -# .btn.btn-primary.mx-auto.my-2.d-block.w-50{style: "border-radius: 100px !important;"}
  -#   .fa.fa-pencil.mr-1
  -#   レビューする →

  = render partial: "comment-form", locals: { comment: @comment}

  %hr
  = render partial: "layouts/popular-osusumes", locals: { osusumes: @osusumes }

-# TODO modalをつけるかどうかを判断
  -# .row.m-3
  -#   / 切り替えボタンの設定
  -#   %button.btn.btn-primary.btn-add-novel{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
  -#     = fa_icon 'pencil'
  -#     コメントする
  -#   = render partial: "add-comment-modal", locals: { comment: @comment }


= link_to 'Home', root_path
