.container.p-0
  = render partial: "layouts/other-osusumes", locals: { osusumes: @osusumes }
  .novel-title.card.my-2.border-0.sticky-top
    -# .card-title
    = link_to @novel.url, target: "_blank"  do
      %h1.font-weight-bold.text-info.mb-0
        #{@novel.title}
  .card.text-muted.mt-1.mb-0.px-2.pt-2.pb-0.border-0
    .novel-description
      = simple_format(@novel.description)
    .description-toggle.fa.fa-angle-down.mx-auto.my-1
  = link_to @novel.url, target: "_blank", class: "novel-page-link" do
    .btn.btn-info.mx-auto.my-2.d-block.w-50{style: "border-radius: 100px !important;"}
      .fa.fa-book.mr-1
      小説ページを開く

  %hr

  【コメント】
  #comment-cards
    - @comments.each do |comment|
      = render partial: "comment-card", locals: { comment: comment}

  = render partial: "comment-form", locals: { comment: @comment}

  = render partial: "layouts/other-osusumes", locals: { osusumes: @osusumes }

-# TODO modalをつけるかどうかを判断
  -# .row.m-3
  -#   / 切り替えボタンの設定
  -#   %button.btn.btn-primary.btn-add-novel{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
  -#     = fa_icon 'pencil'
  -#     コメントする
  -#   = render partial: "add-comment-modal", locals: { comment: @comment }


= link_to 'Home', root_path
