.card.mt-1.mb-2.border-0
  = link_to novel_path(novel), target: "_blank"  do
    %h2.card-title.h6.p-2.m-0
      = image_tag("/assets/images/ranking/crown-gold.png", alt: "1位", class: "crown-image")
      #{novel.title}
      .fa.fa-external-link
  .novel-description.novel-description-in-osusume.text-muted.px-3
    = simple_format(novel.description)
  .description-toggle.fa.fa-angle-down.mx-auto
  .card-footer
    .fa.fa-comments-o
      %span{style: "font-size: 18px"}
        #{novel.comments.count}
    .fa.fa-heart-o.novel-card-like
      %span{class: "novel-like-count"}
        - if novel.like != nil
          #{novel.like}
        - else
          0
    .novel-id{style: "display:none"}
      #{novel.id}
