- novel_link = novel.url
- amazon_image_link = novel.amazon_image_link
- amazon_link = novel.amazon_link
- kindle_link = novel.amazon_kindle_link


.card.mt-1.mb-2.border-0
  .novel-card__up.flex
    .novel-box.p-1.pt-2
      = link_to novel_link, target: "_blank", class: "novel-box-title ml-2 mt-2"  do
        - if    index == 1
          = image_tag("/assets/images/ranking/crown-gold.png",    alt: "1位", class: "crown-image")
        - elsif index == 2
          = image_tag("/assets/images/ranking/crown-silver.png",  alt: "2位", class: "crown-image")
        - elsif index == 3
          = image_tag("/assets/images/ranking/crown-bronze.png",   alt: "3位", class: "crown-image")
        - else
        #{novel.title}
        .fa.fa-external-link
      .flex-center
        .description-box
          .novel-description.novel-description-in-osusume.text-muted.px-3.mt-2
            = simple_format(novel.description)
          .flex-center.mt-1
            .description-toggle.fa.fa-angle-down
        = link_to amazon_link, target: "_blank"  do
          -if amazon_image_link.present?
            = image_tag(amazon_image_link, class: "amazon-image mr-3 mt-2")
  - if novel.comments.present?
    .m-0
      - random_comment = novel.comments.shuffle.first
      = render partial: "layouts/comment-card", locals: { comment: random_comment }
  = link_to novel_link, target: "_blank", class: "novel-page-link mt-2 mb-2" do
    .btn.btn-primary.mx-auto.w-75.d-block{style: "border-radius: 100px !important;"}
      %span.font-weight-bold
        小説を読む
  .flex-center
    - if amazon_link.present?
      = link_to amazon_link, target: "_blank", class: "novel-page-link mb-1 mr-2" do
        .btn.jump-to-novel-show-btn.w-100{style: "border-radius: 100px !important;"}
          .fa.fa-amazon.mr-1
          %span.font-weight-bold.pr-1
            amazon
    - if kindle_link.present?
      = link_to kindle_link, target: "_blank", class: "novel-page-link mb-1" do
        .btn.jump-to-novel-show-btn.w-100{style: "border-radius: 100px !important;"}
          .fa.fa-book.mr-1
          %span.font-weight-bold.pr-1
            kindle
  .card-footer.mt-1
    = render partial: "comment-form", locals: { comment: Comment.new(name: 'なろう好き', novel_id: novel.id), novel: novel}
    .white
      #{novel.id}
    = link_to novel_path(novel.id), target: "_blank"  do
      .fa.fa-comments-o
        %span{style: "font-size: 18px"}
          #{novel.comments.count}
    .fa.fa-heart-o.novel-card-like
      %span{class: "novel-like-count"}
        - if novel.like != nil
          #{novel.like}
        - else
          0
      好き！
    .novel-id{style: "display:none"}
      #{novel.id}
