.card.mt-1.mb-2.border-0
  .novel-card__up.flex
    = link_to novel.url, target: "_blank"  do
      -if novel.amazon_image_link.present?
        = image_tag(novel.amazon_image_link, class: "amazon-image p-1")
      -else
        -# = image_tag("/assets/images/oresibo.jpg", class: "amazon-image p-1")
    .novel-box.p-1
      = link_to novel.url, target: "_blank", class: "novel-box-title"  do
        - if    index == 1
          = image_tag("/assets/images/ranking/crown-gold.png",    alt: "1位", class: "crown-image")
        - elsif index == 2
          = image_tag("/assets/images/ranking/crown-silver.png",  alt: "2位", class: "crown-image")
        - elsif index == 3
          = image_tag("/assets/images/ranking/crown-bronze.png",   alt: "3位", class: "crown-image")
        - else
        #{novel.title}
        .fa.fa-external-link
      .novel-description.novel-description-in-osusume.text-muted.px-2.mt-2
        = simple_format(novel.description)
      .flex-center
        .description-toggle.fa.fa-angle-down
  - if novel.comments.present?
    .m-0
      - random_comment = novel.comments.shuffle.first
      = render partial: "layouts/comment-card", locals: { comment: random_comment }
  = link_to novel.url, target: "_blank", class: "novel-page-link mt-2" do
    .btn.btn-primary.mx-auto.w-75.d-block{style: "border-radius: 100px !important;"}
      %span.font-weight-bold
        小説を読む →
  .flex-space-around
    -# TODO ボタンの色をamazonっぽくする
    = link_to novel.url, target: "_blank", class: "novel-page-link mt-2" do
      .btn.jump-to-novel-show-btn.w-100{style: "border-radius: 100px !important;"}
        .fa.fa-amazon.mr-1
        %span.font-weight-bold
          amazon →
    = link_to novel.url, target: "_blank", class: "novel-page-link mt-2" do
      .btn.jump-to-novel-show-btn.w-100{style: "border-radius: 100px !important;"}
        .fa.fa-book.mr-1
        %span.font-weight-bold
          kindle →
  .card-footer.mt-1
    .white
      #{novel.id}
    = link_to novel_path, target: "_blank"  do
      .fa.fa-comments-o
        %span{style: "font-size: 18px"}
          #{novel.comments.count}
    .fa.fa-heart-o.novel-card-like
      %span{class: "novel-like-count"}
        - if novel.like != nil
          #{novel.like}
        - else
          0
      好き！
    .novel-id{style: "display:none"}
      #{novel.id}
