.card.mt-1.mb-2.border-0
  = link_to novel_path(novel), target: "_blank"  do
    .card-title.h6.p-2.m-0
      #{novel.title}
      .fa.fa-external-link
  .card-footer
    .btn.btn-outline-secondary.description.p-1
      ▽あらすじ
    -# .card
    -#   #{novel.description}
    .fa.fa-comments-o
      %span{style: "font-size: 18px"}
        #{novel.comments.count}
    .fa.fa-heart-o.novel-card-like
      %span{class: "novel-like-count"}
        - if novel.like != nil
          #{novel.like}
        - else
          0
    .novel-id{style: "display:none"}
      #{novel.id}
