.card.mt-1.mb-2.border-0
  = link_to osusume_path(osusume) do
    .card-title.h6.p-2.m-0
      - if osusume.novels.count != 0
        = "【#{osusume.short_title}】のおすすめ小説#{osusume.novels.count}個紹介！"
      - else
        = "【#{osusume.short_title}】のおすすめ小説を紹介します！！！"
  .card-footer
    -# .btn.btn-outline-secondary.description.p-1
    -#   ▽概要
    -# .card
    -#   #{osusume.description}
    .fa.fa-book
      %span{style: "font-size: 18px"}
        #{osusume.novels.count}
