%h1 Listing osusumes

%table
  %thead
    %tr
      %th Title
      %th Short-title
      %th
      %th
      %th

  %tbody
    - @osusumes.each do |osusume|
      %tr
        %td= osusume.title
        %td= osusume.short-title
        %td= link_to 'Show', osusume
        %td= link_to 'Edit', edit_osusume_path(osusume)
        %td= link_to 'Destroy', osusume, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Osusume', new_osusume_path
