.container.p-0
  = render partial: "layouts/other-osusumes", locals: { osusumes: @osusumes }
  .card.my-2.border-0.sticky-top.osusume-title
    -# .card-title
    %h1.m-0
      .font-weight-bold
        『#{@osusume.short_title}』のおすすめ小説
  #novel-cards
    - @novels.each do |novel|
      = render partial: "novel-card", locals: { novel: novel }

  .row.m-3
    / 切り替えボタンの設定
    %button.btn.btn-primary.btn-add-novel{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      = fa_icon 'pencil'
      小説を追加する
    = render partial: "add-novel-modal", locals: { novel: @novel }
  = render partial: "layouts/other-osusumes", locals: { osusumes: @osusumes }

%br

%p
  %b Title:
  = @osusume.title
%p
  %b short_title:
  = @osusume.short_title

= link_to 'Edit', edit_osusume_path(@osusume)
\|
= link_to 'Back', root_path
