%p#notice= notice

.container.p-0
  .card.mt-1.mb-2.border-0
    -# .card-title
    .h4.font-weight-bold.m-2
      『#{@osusume.short_title}』のおすすめ
  #novel-cards
    - @novels.each do |novel|
      = link_to novel_path(novel) do
        = render partial: "novel-card", locals: { novel: novel }

  .row.m-3
    / 切り替えボタンの設定
    %button.btn.btn-primary.btn-add-novel{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      = fa_icon 'pencil'
      小説を追加する
    = render partial: "add-novel-modal", locals: { novel: @novel }

%p
  %b Title:
  = @osusume.title
%p
  %b short_title:
  = @osusume.short_title

= link_to 'Edit', edit_osusume_path(@osusume)
\|
= link_to 'Back', osusumes_path
