.container.p-0
  -# = render partial: "layouts/other-osusumes", locals: { osusumes: @osusumes }
  = render partial: "layouts/popular-osusumes", locals: { osusumes: @osusumes }
  .card.my-2.border-0.sticky-top.osusume-title
    -# .card-title
    %h1.m-0.font-weight-bold
      - if @osusume.novels.count != 0
        = "【#{@osusume.short_title}】のおすすめ小説#{@osusume.novels.count}個紹介！"
      - else
        = "【#{@osusume.short_title}】のおすすめ小説を紹介します！！！"
  #novel-cards
    - @novels.each.with_index(1) do |novel, index|
      = render partial: "novel-card", locals: { novel: novel, index: index }
  -# 今見ているおすすめと同じのを、表示しないように制御
  - if @osusume.short_title != @osusumes.first.short_title
    = link_to osusume_path(@osusumes.first), target: "_blank" do
      .recommend-bar
        こちらもいかかですか？
        %span.recommend-bar__link
          = " 【 #{@osusumes.first.short_title} 】 "
  - else
    = link_to osusume_path(@osusumes.second), target: "_blank", class: "recommend-bar__link"  do
      .recommend-bar
        こちらもいかかですか？
        %span.recommend-bar__link
          = " 【 #{@osusumes.second.short_title} 】 "
    -# TODO close buttonを導入する
  .row.m-3
    / 切り替えボタンの設定
    %button.btn.btn-primary.btn-add-novel{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      = fa_icon 'pencil'
      小説を追加する
    = render partial: "add-novel-modal", locals: { novel: @novel }
  -# = render partial: "layouts/popular-osusumes", locals: { osusumes: @osusumes }
  = render partial: "layouts/popular-osusumes", locals: { osusumes: @osusumes }

  %br

  = link_to '< Home', root_path, class: "btn btn-primary text-white"
