.container.p-0
  .other-osusume.card.d-flex.flex-row.flex-wrap.mt-2
    - @osusumes.each do |osusume|
      .short-title
        #{osusume.short_title}
  .card.my-2.border-0.sticky-top.osusume-title
    -# .card-title
    .font-weight-bold
      『#{@osusume.short_title}』のおすすめ小説
  #novel-cards
    - @novels.each do |novel|
      = render partial: "novel-card", locals: { novel: novel }

  .row.m-3
    / 切り替えボタンの設定
    %button.btn.btn-primary.btn-add-novel{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      = fa_icon 'pencil'
      小説を追加する
    = render partial: "add-novel-modal", locals: { novel: @novel }

%p
  %b Title:
  = @osusume.title
%p
  %b short_title:
  = @osusume.short_title

= link_to 'Edit', edit_osusume_path(@osusume)
\|
= link_to 'Back', root_path
