.container
  = form_for(@review) do |form|
    .field.m-3
      = form.label "名前"
      = form.text_field :name
      = form.text_area :text, 'data-provider': :summernote
      = form.number_field :like
      .actions
        = form.submit "レビューを保存する", class: "btn btn-primary"
