.container
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message
  .novel-title.card.my-2.border-0.sticky-top
    %h1.font-weight-bold.text-info.mb-0
      【#{@novel.title}】のレビューを書く

  = form_for ([@novel, @review]) do |form|
    .field.m-3
      = form.text_field :name, placeholder: "名前", class: "mb-2 text-muted"
      = form.text_area :text, 'data-provider': :summernote
      = form.hidden_field :novel_id, :value => @novel.id
      .actions.mt-3
        = form.submit "レビューを保存する", class: "btn btn-primary"
