.popular-osusumes.card.d-flex.flex-row.flex-wrap.mt-2.px-2.py-1
  .w-100
    &=" - 人気記事 - "
  - osusumes.each do |osusume|
    .w-100
      = link_to osusume_path(osusume), target: "_blank"  do
        .other-osusume.mx-1
          - if osusume.novels.count != 0
            = "【#{osusume.short_title}】のおすすめ小説 #{osusume.novels.count}個 紹介！"
          - else
            = "【#{osusume.short_title}】のおすすめ小説を紹介します！"
%hr.my-2
