!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = display_meta_tags(default_meta_tags)
    = analytics_init if Rails.env.production?
    %script{async: true, :src => "//kitchen.juicer.cc/?color=WLtsVT+JTBE="}
  %body
    -# ここにGIFのヘッダー入れるというアイデア面白いな。
    .container.p-0
      = link_to image_tag("/assets/images/sma-header.png", width: 'auto', alt: "なろう廃人のすすめ", class: "sma-header header-image container-fluid p-0"), root_path
      = link_to image_tag("/assets/images/pc-header2.png", width: 'auto', alt: "なろう廃人のすすめ", class: "pc-header d-block container-fluid mx-auto p-0"), root_path
    = yield
